(upstream-headers) {
	header_up X-Real-IP {http.request.remote}
	header_up X-Forwarded-Proto {http.request.scheme}
}

{
	email diljot.singh@mechlintech.com
}

# Tenant Site
:3010 {
	
	reverse_proxy django_app:5000
				  
}

# Admin Site 
:3011 {
	reverse_proxy django:5000
}

:3012 {
	
	respond "Health Okay"

}
